[Unit]
Description=mailbox
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/mailbox.pi.py
StandardInput=tty-force
Restart=on-failure

[Install]
WantedBy=multi-user.target
